html {
    height: 100%;
}
body {
    height: 100%;
}
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
#sidebar {
    background-color: #efefef;
    border-right: 5px solid #efefef;
    width: 380px;
}
#sidebar .scrollarea {
    overflow-y: auto;
}
#toolframeid {
    height: 100%;
}